<nav class="navbar navbar-dark bg-dark navbar-expand-lg px-3 mb-4">
  <a class="navbar-brand fw-bold" routerLink="/">MyFlix</a>

  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#navLinks">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contents">Filmes & Séries</a>
      </li>
    </ul>
  </div>
</nav>
